#header_div {
    background-color: rgba(235, 243, 245, 0.911)
}

h1 {
    align-content: center; 
    text-align: center; 
    color: midnightblue;
}

label {
    color: black;
}

.bar {
    border-radius: 25px; 
    width: 100%;
    background-color: red; 
}

.inner {
    height: 10px;
    background-color: green;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0%;
}

